/* Commom css */
.clear-both{clear: both;}
.clear-both-before:before{clear: both;}
.clear-both-after:after{clear: both;}
.display-none{display:none;}
.display-block{display: block;}
.display-inline{display: inline;}
.float-left{float: left;}
.float-right{float: right;}
.float-none{float: none;}
.cursor-pointer{cursor: pointer;}
.circle{border-radius: 50%;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}